.sidenav {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 200px;
    background-color:#262F36;
    color: white;
}

.menu-buttom{
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-spacing: 0;
  vertical-align: middle;

}

.material-icons{
  vertical-align: middle;
  color: white;
}

.menu-buttom:hover{
  border-radius: 1;
  background-color: #E0E0E0;
  color: black;
}
