<div class="content">
  <mat-card-title>Alunos</mat-card-title>
  <mat-card-subtitle><br />Atualizar Aluno</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br />
  <div class="input1">
    <mat-form-field appearance="outline">
      <mat-label>Id.</mat-label>
      <input
        matInput
        id="idaluno"
        name="idaluno"
        [(ngModel)]="aluno.idaluno"
        disabled
      />
    </mat-form-field>
  </div>

  <div class="input2">
    <mat-form-field appearance="outline">
      <mat-label>Nome do Aluno</mat-label>
      <input matInput id="nome" required [(ngModel)]="aluno.nome" name="nome" />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </div>

  <div class="input2">
    <mat-form-field appearance="outline">
      <mat-label> Data de nascimento </mat-label>
      <input matInput id="dt_nasc" name="dt_nasc" [(ngModel)]="aluno.dt_nasc" />
    </mat-form-field>
  </div>

  <div class="input2">
    <mat-form-field appearance="outline">
      <mat-label>Sexo</mat-label>
      <mat-select
        id="sexo"
        [(ngModel)]="aluno.sexo"
        name="sexo"
        placeholder="Selecione o sexo"
        disableRipple
      >
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Feminino">Feminino</mat-option>
        <mat-option value="Pessoa Trans">Pessoa trans</mat-option>
        <mat-option value="Não binário">Não binário</mat-option>
        <mat-option value="Nenhum dos anteriores"
          >Nenhum dos anteriores</mat-option
        >
        <mat-option value="Prefiro não informar"
          >Prefiro não informar</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <div class="button">
      <span class="bt" (click)="atualizar()">
        <img class="img-btn" src="assets/img/check_box.png" />Atualizar
      </span>
      <span class="bt" (click)="cancelar()">
        <img class="img-btn" src="assets/img/cancel.png" />Cancelar
      </span>
    </div>
  </div>
</div>
